
/*  Main  */

main {
    background-color: #13599b;
    color: #e8e8e8;
}


.main-title-fir-information, .main-title-airports-information {
    text-align: center;
    font-weight: 500;
    padding: 2% 0;
}

.main-fir-information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5%;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 16px
}

.main-fir-image {
    height: 50%;
    width: 50%;
    max-width: 30%;
    padding-left: 3%;
}

.main-fir-table {
    width: 50%;
    border-collapse: collapse;
    border:  1px solid #ffffff8e ;
    text-align: center;
}

.main-fir-table td, .main-airports-table td, .main-airports-table thead th {
    border:  1px solid #ffffff8e;
}

.main-fir-table-list {
    list-style-type: none;
    padding-top: 2%;
}

.main-fir-table-list a, #main-fir-table-link, .main-airports-table a{
    text-decoration: none;
    color: #E2E7E9;
    border-bottom: 1px inset #ffffff8e;
}



.main-airports-information {
  display: flex;
  justify-content: center;
  padding: 2% 0 5% 0;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 18px
}


.main-airports-table {
  border:  1px solid #ffffff8e;
  border-collapse: collapse;
  text-align: center;
  width: 65%;
  height: 50%;
}

.main-airports-table td{
  padding: 0.5rem;
}

.main-airports-table tbody tr:hover{
  background-color: #083a6970;
  color: #63BEE2;
}

.main-airports-table tr a:hover {
  color: #63BEE2;
}

.main-airports-table thead th {
  padding: 0.5rem;
  letter-spacing: normal;
  font-size: 28px;
}

.main-aftertable-title {
  padding: 3% 0 3% 0;
  text-align: center;
}
.main-aftertable-title a {
  text-decoration: none;
  color: #63BEE2;
}

.main-aftertable-title a:hover {
  color: #A02A63;
}

