@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Libre+Baskerville');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: block;
    font-family: 'Nunito Sans', sans-serif;
}


/* Header overlay */


.background-overlay {
    background-image: url(../images/header-staff.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.overlay-header {
    background-color: rgba(0,0,0,.45);
    height: 50vh;
}
.language-site {
  display: block;
  width: 120px;
  height: fit-content;
}

#language-site:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}

#language-site {
    text-transform: capitalize;
    border: 1px solid;
    color: #e9e6e6;
    text-decoration: none;
    text-align: center;
    margin-left: 30px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 10%;
    padding: 10px 5px 10px 5px;
}


/* Header nav */


nav {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  display: block;
  color: #F2E9E6;
}
.topmenu > li {
  display: inline-block;
  position: relative;
}
.topmenu > li > a {
  position: relative;
  padding: 10px 15px;
  font-size: 1.5em;
  line-height: 1;
  letter-spacing: 3px;
}

.topmenu li:hover a:before {
  transform: translate(-50%, 0);
  opacity: 1;
}
.submenu {
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 100%;
  width: 150px;
  padding: 15px 0 15px;
  margin-top: 5px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0,0,0,.2);
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 20px);
  transition: .3s;
  color: #222;
}
.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}
.submenu a {
  font-size: 16px;
  letter-spacing: 1px;
  padding: 5px 10px;
  transition: .3s linear;
  color: #222;
}
.submenu a:hover {background: #e8e8e8;}


/* Header logos */


.logos-header {
    display: flex;
    flex-direction: row;
}
.logo-header { 
    padding-right: 20px;
    margin-left: 20px;
}
.logo-header img {
  width: 120px; 
  height: 120px;
}

.logo-fir img{
  width: 130px;
  height: 130px;
}

/* Header texts */

.header-announce {
    font-size: 24px;
    text-align: center;
    color: #100705;
    align-self: center;
    width: 100%;
    position: absolute;
    text-decoration: overline;
    padding-top: 2%;
}

.announce img {
  width: 250px; 
  height: 300px;
}
