
/*  Main  */

main {
    height: 90vh;
    background-color: rgb(206, 203, 203);
    display: flex;
    justify-content: center;
}
.main-cont {
    padding: 5%;
}

.main-docs-container {
    height: 100%;
    width: 80vw;
    background-color: #e0d9d8;

}

.main-title-docs {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.main-title-docs button{
    text-decoration: none;
    font-size: 28px;
    text-align: center;
    border-radius: 35px 35px 0 0;
    padding: 10px 20px;
    background-color: rgb(99, 58, 138);
    color: rgb(240, 240, 240);
    border: none;
}

#btn-2 {
    background-color: rgb(99, 58, 138);
    color: rgb(240, 240, 240);
}

#btn-2:hover {
    background-color: #1e3850;
    color: aquamarine;
    transition: background-color .5s ease-in-out, color .5s ease;
}


.main-title-docs button:hover{
    background-color: #1e3850;
    color: aquamarine;
    cursor: pointer;
    transition: background-color .5s ease-in-out, color .5s ease;
}

.main-list-docs {
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
}

.main-list-docs li {
    padding-bottom: 4%;
    text-align: center;
    
}

.main-list-docs a {
    text-decoration: none;
    color: #1e3850;
    border: #1e3850 1px dashed;
    padding: 10px;
}

.main-list-docs a:hover {
    color: rgb(85, 155, 235);
    font-weight: 700;
    background-color: #1e3850;
    border-radius: 10px;
    transition: background-color ease-in .5s, border-radius ease .5s, color ease .5s, font-weight linear .5s;
}

