
/*  Main  */

main {
    height: 80vh;
    background-color: rgb(206, 203, 203);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-docs-container {
    height: 70vh;
    width: 80vw;
    background-color: #e0d9d8;
}

.main-title-docs {
    text-align: center;
    padding-top: 4%;
    padding-bottom: 3%;
}

.main-list-docs {
    padding-left: 5%;
    font-size: 20px;
    text-decoration: none;
    list-style-type: circle;
}

.main-list-docs li {
    padding-bottom: 10px;
}

.main-list-docs a {
    text-decoration: none;
    color: #1e3850;
}

.main-list-docs a:hover {
    color: rgb(190, 60, 60);
}

