
/*  Main  */

main {
    height: 80vh;
    background-color: rgb(206, 203, 203);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-docs-container {
    height: 70vh;
    width: 80vw;
    background-color: #e0d9d8;
}

.main-title-docs {
    text-align: center;
    padding-top: 4%;
    padding-bottom: 3%;
}

.main-list-docs {
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-list-docs li {
    padding-bottom: 4%;
    text-align: center;
    
}

.main-list-docs a {
    text-decoration: none;
    color: #1e3850;
    border: #1e3850 1px dashed;
    padding: 10px;
}

.main-list-docs a:hover {
    color: rgb(85, 155, 235);
    font-weight: 700;
    background-color: #1e3850;
    border-radius: 10px;
    transition: background-color ease-in .5s, border-radius ease .5s, color ease .5s, font-weight linear .5s;
}

