
/*  Main  */


main {
  height: 55vh;
  background: linear-gradient(60deg,  #32BD45 ,#871FB2 , #311A61, #213999);
  background-size: 400% 400%;
  text-align: center;
  max-height: fit-content;
  font-size: 20px;
  background-size: cover;
}

.main-mail-team {
  font-size: 24px;
  color: #63BEE2;
}

.main-team-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  }

 .main-team-block {
  height: 30vh;
  width: 50vw;
  padding: 3%;
  font-size: 18px;
  word-spacing: 5px;
  color: #E2E7E9;
  }

.main-team-block img{
  height: 65%;
  width: 40%;
  padding-bottom: 4%;
  }
  
.main-team-block p {
  height: 100%;
  max-height: fit-content;
  text-align: center;
  }

.main-text-team {
  text-align: center;
  width: 70%;
  display: inline-block;
}


.main-title-team {
  padding-bottom: 2%;
}

